<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.bombusim.lime"
    android:versionCode="2"
    android:versionName="0.2" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- required by logger -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:name=".Lime" >
        <activity
            android:name=".activity.RosterActivity"
            android:label="@string/app_name" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoggerActivity" android:label="@string/loggerActivity"></activity>
        <service android:name=".service.XmppService" android:description="@string/xmppServiceDescription"></service>
        <activity android:name=".activity.AccountSettingsActivity"></activity>
        <activity android:name=".activity.ChatActivity" 
            android:launchMode="singleTop" 
          ></activity>
        <activity android:name=".activity.LimePrefs"></activity>
        <activity android:name=".activity.RosterLimePrefsActivity"></activity>
        <activity android:name=".activity.VCardActivity"></activity>
        <activity android:name=".activity.PresenceActivity"></activity>
        <activity android:name=".activity.EditContactActivity"></activity>

        <receiver android:name=".AutoRunOnBootCompleted" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
        </application>

</manifest>